.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  img {
    vertical-align: middle;
  }
}

.content {
  width: 100%;
  max-width: 50rem;
}

.title {
  text-align: center;
}
